In [5]:
import pandas as pd

In [2]:
import pandas as pd
import json

# Create an empty list to store the data
data_list = []

# Open the JSON file
with open('training_results.json', 'r') as file:
    # Read each line (each line represents a JSON object)
    for line in file:
        # Load the JSON object into a Python dictionary
        data = json.loads(line)
        
        # Append the data to the list
        data_list.append(data)

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data_list)

In [3]:
df

,ticker,window_size,prediction_length,lstm_units,batch_size,dropout_rate,predict_day,rmse,rmse_random_walk,without_sentiment
0,TSLA,10,15,50,32,0.0,10,"[173.43639604691415, 10.3942626953125]",NaN,NaN
1,TSLA,10,15,50,32,0.0,15,"[361.33520303989457, 15.733142089843755]",NaN,NaN
2,TSLA,10,15,50,32,0.0,20,"[312.37332636412464, 14.411737823486325]",NaN,NaN
3,TSLA,10,15,50,32,0.2,10,"[319.7700164698064, 14.091705322265625]",NaN,NaN
4,TSLA,10,15,50,32,0.2,15,"[317.07230930222806, 16.89851684570312]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
947,GOOG,10,15,50,32,0.0,20,"[119.17451143256037, 10.437721252441403]","[36.54331550724154, 5.746766523167799]",True
948,GOOG,10,15,50,32,0.0,20,"[130.7643795290176, 10.973510360717771]","[43.488194602991555, 6.259001456322139]",False
949,GOOG,10,15,50,32,0.0,20,"[113.80704596864814, 10.189563369750974]","[32.0838092089504, 5.3085170879621035]",True
950,GOOG,10,15,50,32,0.0,20,"[133.00627935055525, 11.08554229736328]","[43.39656225655183, 6.272577071181195]",False
951,GOOG,10,15,50,32,0.0,20,"[118.26837602135781, 10.277630233764645]","[34.85467696222652, 5.735065020373922]",True

In [20]:
df_tsla = df[df['ticker'] == 'TSLA'].dropna()

In [25]:
sum([i[1] for i in df_tsla['rmse']])/len(df_tsla)

20.313389987347815

In [26]:
sum([i[1] for i in df_tsla['rmse_random_walk']])/len(df_tsla)

23.918239396499008

In [8]:
df['without_sentiment'].unique()

array([nan, 'True', True, False], dtype=object)

In [9]:
def average(df, ticker, sent):
    print(ticker)
    drop = ['rmse_random_walk']
    # if sent is False:
    #     drop.append('without_sentiment')
    # if sent is True:
    #     df = df[df['without_sentiment'].isna()]
    if sent is True:
        df = df[df['without_sentiment'] == True]
    else:
        df = df[df['without_sentiment'] == False]
    df_ticker = df[df['ticker'] == ticker].dropna(subset=drop)
    df_ticker = df_ticker[df_ticker['predict_day'] == 20]
    df_ticker = df_ticker.reset_index(drop=True)
    if len(df_ticker) == 0:
        return None
    print(len(df_ticker))
    rmse = sum([i[1] for i in df_ticker['rmse']])/len(df_ticker)
    rmse_rand = sum([i[1] for i in df_ticker['rmse_random_walk']])/len(df_ticker)
    # Find the row with the minimum value in a certain column, e.g., 'rmse'

    min_rmse_row = df_ticker.loc[[i[1] for i in df_ticker['rmse']].index(min([i[1] for i in df_ticker['rmse']]))]

    # Print the row with the minimum rmse value
    #print(min_rmse_row)

    return rmse, rmse_rand

In [36]:
df['ticker'].unique()

array(['TSLA', 'MSFT', 'META', 'AMZN', 'GOOG', 'AAPL', 'NFLX'],
      dtype=object)

In [10]:
for ticker in df['ticker'].unique():
    print(average(df, ticker, True))
    print(average(df, ticker, False))
    print()

TSLA
94
(18.392558872953376, 29.097133963717127)
TSLA
92
(24.208297729492188, 36.74918450674666)

MSFT
None
MSFT
None

META
None
META
None

AMZN
None
AMZN
None

GOOG
41
(11.07894311300138, 6.353765807898872)
GOOG
39
(11.834742120596076, 7.089183421143914)

AAPL
None
AAPL
None

NFLX
None
NFLX
None